<banner></banner>

<div class="mdc-grid">
    <div style="margin: 1rem;">
        <h1>About Stadia Hunters</h1>
        <br>
        <div class="subtitle"><b>StadiaHunters.com </b>is a gaming community that focus in achievement tracking for Stadia, help the community with guides, report bugged or with DLC requirements to provide a better achievement hunting experience.</div> 
        <br>
        <div class="subtitle">Sign up and create a profile today to particate in the multiple leaderboards and track your games. Find other gamers to group and achievement hunt, ask for help or write a guide to your favourite game or achievement.</div>
        <br>
        <div class="subtitle">The site is maintained and developed by <a href="https://twitter.com/endroidvour" rel="noreferrer" target="_blank" class="link">Joao Pinto</a> .</div>
    </div>
</div>
