<banner></banner>

<div class="mdc-grid">
    <div style="margin: 1rem;">
        <h1>Contacts</h1>
        <br>
        <div class="mdc-layout-grid__inner">
            <div class="subtitle mdc-layout-grid__cell--span-6">For business related inquiries such as advertising or partnerships, as well as press release information: <a href="mailto:stadiahunters@gmail.com" rel="noreferrer" target="_blank" class="link">stadiahunters@gmail.com</a> .</div>
            <div class="subtitle mdc-layout-grid__cell--span-6 centered">
                <div class="subtitle"> Need support help or report a bug feel free to contact us directly in any of the social media or join us in our discord and request help from the community.</div>
                <br>
                <discord></discord>
            </div> 
        </div>
    </div>
</div>
