<footer>
    <div style="padding:2rem;" class="mdc-grid mdc-layout-grid__inner">
        <div class="centered mdc-layout-grid__cell--span-4">
            <a mat-button class="companyName" style="margin-bottom: 0.5rem;" routerLink="/">
                <img alt="Stadia Logo" src="../assets/images/text-logo.png" width="200"/>
            </a>
            <a mat-button class="title">© 2020 Stadia Hunters, All Rights Reserved</a>
            <a mat-flat-button href="https://www.patreon.com/stadiahunters" target="_blank" rel="noreferrer" class="link footer-button"> Patreon</a>
        </div>

        <div class="centered mdc-layout-grid__cell--span-2">
            <h2 style="padding: 0 16px;">Info</h2>
            <a mat-flat-button routerLink="/faq" class="footer-button">FAQ</a>
            <a mat-flat-button routerLink="/rules" class="footer-button">Rules</a>
            <a mat-flat-button routerLink="/about" class="footer-button">About</a>
            <a mat-flat-button routerLink="/contact" class="footer-button">Contact</a>
            <a mat-flat-button routerLink="/privacy" class="footer-button">Privacy Policy</a>
        </div>

        <div class="centered mdc-layout-grid__cell--span-2">
            <h2 style="padding: 0 16px;">Social Media</h2>
            <a mat-flat-button href="https://twitter.com/stadiahunters" target="_blank" rel="noreferrer" class="footer-button"> Twitter</a>
            <a mat-flat-button href="https://www.youtube.com/channel/UCmv33RU50LgFnR-7TfZOvQw" target="_blank" rel="noreferrer" class="footer-button">Youtube</a>
            <a mat-flat-button href="https://www.facebook.com/StadiaHunters/" target="_blank" rel="noreferrer" class="footer-button">Facebook</a>
            <a mat-flat-button href="https://www.instagram.com/stadiahunters/" target="_blank" rel="noreferrer" class="footer-button">Instagram</a>
            <a mat-flat-button href="http://discord.gg/U9Bykub" target="_blank" rel="noreferrer" class="footer-button">Discord</a>
        </div>

        <div class="centered mdc-layout-grid__cell--span-2">
            <h2 style="padding: 0 16px;">Tools</h2>
            <a mat-flat-button href="https://chrome.google.com/webstore/detail/stadia-hunters/fpbdilcfficmipfhflimkhokccldbhph" target="_blank" rel="noreferrer" class="footer-button"> Extension</a>
            <a mat-flat-button href='https://play.google.com/store/apps/details?id=com.endeavour.stadiahunters&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'  target="_blank" rel="noreferrer" class="footer-button"> Android App</a>
        </div>

    </div>
</footer>
