<a class="row mdc-layout-grid__cell--span-12 leaderboard-user location-card" routerLink="{{buildRoute()}}">
    <div class="title leaderboard-number">{{index + 1}}</div>
    <img class="avatar" data-src="{{data.avatar}}"/>
    <div class="leaderboard-text" style="flex-grow: 1;">{{user.buildUsername(data.name, data.tag)}}</div>
    <div class="leaderboard-number mobile-gone">{{buildHours()}}</div>
    <div class="leaderboard-date date mobile-gone">{{buildDate(data.completed)}}</div>
    <div class="leaderboard-number">{{data.achievements_completed}}</div>
</a>
