<div class="row leaderboard-header">
    <div class="leaderboard-number">Ranking</div>
    <div><i class="material-icons md-light md-16">person</i></div>
    <div class="leaderboard-text flex-1">Username</div>
    <div class="leaderboard-number mobile-gone"><i class="material-icons md-light md-16">hourglass_empty</i></div>
    <div class="leaderboard-date mobile-gone"><i class="material-icons md-light md-16">schedule</i></div>
    <div class="leaderboard-number"><i class="material-icons md-light md-16">emoji_events</i></div>
</div>
